<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
  <title>CryptoNet: Web-based Cryptography and Steganography Tool</title>
</head>
<body>
  <header>
    <h1>Mihir Ingole</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
	    <li><a href="{{ url_for('login') }}">Login</a></li>
  <!-- <li><a href="login.html">Login</a></li> -->
    </ul>
  </nav>
  <main>
    <section id="home">
      <h2>Welcome to the Mihir's Steganography website</h2>
      <img src="static/images/home.jpg" alt="Home image" />
      <p>This is the home section. You can add any content you'd like here.</p>
    </section>
    <section id="about">
      <h2>About Us</h2>
      <img src="static/images/about.jpg" alt="About image" />
      <p>Learn more about our steganography and the services we provide.</p>
    </section>
    <section id="contact">
      <h2>Contact Us</h2>
      <img src="static/images/contact.jpg" alt="Contact image" />
      <p>Get in touch with us via email or our social media channels.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Steganography Website. All rights reserved by Mihir Ingole.</p>
  </footer>
</body>
</html>
